@import "@/styles/colors.scss";
@import "@/styles/import";

.createInvoice {
  .theme--light & {
    background-color: white !important;
  }

  &--wrapper {
    padding: 0 1.5rem;
    position: relative !important;

    @include media(">=md") {
      padding: 0 3.5rem;
      margin-top: 1.5rem;
      margin-bottom: 7rem !important;
    }

    @include media(">=lg") {
      padding: 0 3.5rem;
      margin-top: 1.5rem;
      margin-bottom: unset !important;
    }

    @include media(">=lg") {
      margin-top: 2.5rem;
    }

    .item--list {
      min-height: 248px;

      &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.78;
        color: #777f98;
        margin-bottom: 1rem;
      }

      &__form {
        display: flex;
        text-align: left;
        flex-direction: column;
      }
    }

    .bill--form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;
      .from,
      .to {
        font-size: 12px;
        font-weight: bold;
        line-height: 1.25;
        letter-spacing: -0.25px;
        color: $purple-500;
        align-self: flex-start;
        margin-bottom: 1.5rem;
      }
    }
  }

  &--title {
    margin-bottom: 1.5rem;
    h2 {
      display: flex;
    }
  }
}

.createInvoice--form,
.item--list__form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;

  label {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.25px;
    color: $blue-gray;

    .theme--light & {
      color: $dark-blue-gray;
    }
  }

  input,
  select {
    margin: 0.5rem 0;
    width: 100% !important;
    color: white;
    font-size: 16px;
    height: 48px;

    &:nth-child(5) {
      margin-bottom: 2.5rem;
    }
  }

  .input--flex {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.43rem;
    align-items: center;

    .input-row,
    .input-column {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1 0;

      &:nth-child(4) {
        flex-grow: 0;
      }

      #item-price {
        width: 110px;
      }

      #quantity {
        width: 64px;
      }

      .item-total-price {
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: -0.25px;
        color: $blue-gray;
        text-align: center;
      }
    }
  }
}
.date--section {
  margin: 2rem 0;
}

.add__new {
  height: 100px;
  &__btn {
    width: 100%;
    height: 48px !important;
    border-radius: 24px !important;
    transition: all 0.3s ease !important;
    &:hover {
      .theme--light & {
        background-color: $light-blue-gray !important;
      }
      background-color: $dark-200 !important;
    }
  }
  .v-btn__content {
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.25px;
    text-align: center;
    color: $blue-gray;
    font-size: 12px;

    .theme--light & {
      color: $dark-blue-gray !important;
    }
  }
}

.in-row {
  display: flex;
  width: 100%;

  @include media("<md") {
    flex-direction: column !important;
    & > * {
      width: 100%;
    }
  }
}
