$light-bg: #f8f8fb;
$purple-500: #7c5dfa;
$purple-400: #9277ff;

$blue-gray: #888eb0;
$light-blue-gray: #dfe3fa;
$dark-blue-gray: #7e88c3;

$dark-500: #0c0e16;
$dark-400: #141625;
$dark-300: #1e2139;
$dark-200: #252945;

$warning: #ec5757;
