@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;500;600;700&display=swap");

.v-application {
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
  font-family: "Spartan", sans-serif !important;

  &.theme--dark {
    color: #ffffff !important;
    background-color: #141625 !important;
  }
  &.theme--light {
    color: #0c0e16 !important;
    background-color: #f8f8fb !important;
  }

  ul,
  ol {
    padding-left: 0 !important;
  }

  p {
    margin: 0 !important;
  }
}

li {
  list-style: none;
}

.v-btn__content {
  text-transform: none;
  flex-direction: row-reverse !important;
}

.v-btn {
  padding: 0 !important;

  &:focus {
    background-color: transparent !important;
  }

  text-transform: none;
  flex-direction: row-reverse !important;
}
