@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;500;600;700&display=swap");
@import "./import";
@import "./colors.scss";
@import "./vuetify_overrides.scss";

input {
  background-color: $dark-300 !important;
  border: solid 1px $dark-200;
  border-radius: 4px;
  padding: 17px 16px;
  font-weight: bold;
  outline: none;
  line-height: 1.25;
  letter-spacing: -0.25px;
  width: 100% !important;

  .theme--light & {
    color: $dark-500 !important;
    background-color: white !important;
    border: solid 1px $light-blue-gray !important;
  }
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.text-elipsis {
  min-width: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal-open {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100vh;
  padding-right: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-radius: 0;
  padding: 0.4rem !important;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1500px $dark-200 inset;
  transition: background-color 5000s ease-in-out 0s;

  .theme--light & {
    -webkit-text-fill-color: $dark-200;
    -webkit-box-shadow: 0 0 0px 1500px rgb(255, 255, 255) inset;
  }
}

.d-desktop {
  display: block;
  @include media("<md") {
    display: none !important;
  }
}

.d-mobile {
  display: block;
  @include media(">=md") {
    display: none !important;
  }
}

.mdi-checkbox-blank-outline::before {
  color: $purple-500;
}
