@import "@/styles/import";
@import "@/styles/colors.scss";

.invoice {
  @include media(">=lg") {
    padding: 0 15rem;
  }

  @include media(">xl") {
    margin: 0 auto;
    width: 120em;
    padding: 0 10rem;
  }
  .goback--invoice {
    @include media(">=md") {
      height: 111px !important;
      max-width: 730px !important;
      margin: auto;
    }
  }

  &--page {
    padding: 0rem 1.5rem;
    transition: all 0.2s ease;
    margin-bottom: 3.5rem;

    @include media(">=md") {
      max-width: 730px;
      margin: auto;
    }

    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .status__card {
        margin: auto;
        width: 100%;
        height: 91px;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        padding: 1.55rem 1.5rem 1.65rem 1.5rem;
        margin-bottom: 1rem;

        @include media(">=md") {
          justify-content: flex-start;
          gap: 1rem;
          margin-bottom: 1.5rem;

          &.desktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
        .invoice--buttons__container {
          background: transparent !important;
          box-shadow: none;
          .invoice--buttons {
            display: flex;
            justify-content: flex-end;
            &__wrapper {
              padding: 0;
            }
          }
          @include media("<md") {
            display: none !important;
          }
        }

        #card__title {
          font-size: 12px;
          font-weight: 500;
          line-height: 1.25;
          letter-spacing: -0.25px;
          color: $light-blue-gray;

          .theme--light & {
            color: $blue-gray;
          }
        }
      }

      .invoice {
        width: 100%;
        min-height: 695px;
        box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
        padding: 1.5rem 1.5rem 1.65rem 1.5rem;

        @include media(">=md") {
          padding: 3rem;
        }

        .top {
          @include media(">=md") {
            display: flex;
            justify-content: space-between;
          }
        }

        &__info {
          display: flex;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.25;
          letter-spacing: -0.25px;
          flex-direction: column;

          ul {
            display: flex;
          }

          @include media(">=md") {
            font-size: 1rem;
          }
        }

        &__description {
          margin: 4px 0 0 !important;
          font-size: 12px;
          line-height: 1.25;
          letter-spacing: -0.25px;
          color: $light-blue-gray;
          font-weight: 300;

          .theme--light & {
            color: $dark-blue-gray;
          }
        }

        &__sender--address {
          margin-top: 1.93rem;

          @include media(">=md") {
            margin: 0;
            text-align: right;
          }
        }

        &__details {
          display: flex;
          min-width: 230.5px;
          margin: 1.8rem 0;
          justify-content: space-between;

          @include media(">=md") {
            margin: 1.8rem 0 3rem;
            .client--email {
              margin: 0 !important;
            }
          }

          .invoice--date,
          .invoice--client {
            margin-bottom: 2.1rem;
          }

          #date,
          #client-name {
            font-size: 15px;
            line-height: 1.33;
            letter-spacing: -0.31px;
          }

          .invoice__header {
            font-size: 12px;
            font-weight: 500;
            line-height: 1.25;
            letter-spacing: -0.25px;
            color: $light-blue-gray;
            margin-bottom: 12px !important;

            .theme--light & {
              color: $dark-blue-gray;
            }
          }

          .client-address {
            margin-top: 8px;
          }

          .invoice_left,
          .invoice_right {
            display: flex;
            flex-direction: column;
            flex: 1;
          }
        }

        .client--email {
          margin: 2rem 0 2.5rem 0.1rem;
          min-height: 30px;
          p {
            color: white;

            .theme--light & {
              color: $dark-blue-gray;

              &:nth-child(2) {
                color: $dark-500;
              }
            }
          }
          .email {
            margin-top: 0.6rem !important;
            height: 100%;
            font-size: 15px;
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: -0.31px;
          }
        }
      }

      p {
        font-size: 11px;
        font-weight: 500;
        line-height: 1.75;
        letter-spacing: -0.23px;
        color: $dark-blue-gray;
      }
    }
  }

  .invoice__total__details {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: $dark-200;
    padding: 1.5rem;
    height: 148px;

    @include media(">=md") {
      padding: 1.5rem 2rem;
      height: 184px;
    }

    .theme--light & {
      background-color: $light-bg;
    }

    .transaction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin-bottom: 27px;

      &__details {
        .items {
          display: flex;
          margin-bottom: 6px;
        }
        h4 {
          font-size: 12px;
          font-weight: bold;
          line-height: 1.27;
          letter-spacing: -0.26px;

          &:nth-child(2) {
            color: $blue-gray;

            .theme--light & {
              color: $dark-blue-gray;
            }
          }
        }
      }
      .items__total {
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: -0.25px;
        font-weight: bold;
      }
    }
  }
  .total_transaction_fee {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: $dark-500;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    @include media(">=md") {
      height: 88px;
    }

    h1 {
      font-size: 20px;
      letter-spacing: -0.23px;

      @include media(">=md") {
        font-size: 1.5rem;
      }

      .theme--light & {
        color: white !important;
      }
    }

    #grand_total {
      font-size: 11px;
      font-weight: 500;
      line-height: 1.64;
      letter-spacing: -0.23px;
      color: white;
    }
  }
  .buttons-mobile {
    @include media(">=md") {
      display: none;
    }
  }
}
